@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Bookshelf</h1>
    <p class="lead">We have all your reading needs. If we don't have it you don't want it!</p>
    <p><a href="https://asp.net" class="btn btn-success">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New to bookShelf?</h2>
        <p>
            Sign up for bookshelf to become a member and instantly get all the great benefits
        </p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301865">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top books of the week</h2>
        <p>See what books members are reading.</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sell Books</h2>
        <p>Do you have books that you don't want?</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Sell books &raquo;</a></p>
    </div>
</div>